page-feed {


        .TopBar{
            background-image: url("…/../../../assets/imgs/bckground.png") ;
	        -webkit-background-size: cover;
  	        -moz-background-size: cover;
  	        -o-background-size: cover;
        	background-size: cover;
            color: #ffffff;
            font-family: Monoton;
        
        }
    .setcard{

        align-content: center;

    }
    .uploadButton{
        align-content: center;
        background-image: url("…/../../../assets/imgs/bckground.png") ;
        -webkit-background-size: cover;
          -moz-background-size: cover;
          -o-background-size: cover;
        background-size: cover;
        color: #ffffff;
        font-family: Monoton;   
    }
    .bottom-bar{
        background-color: map-get($colors, semi-light)
    }
    .border-right{
        border-right: 1px solid map-get($colors, light)
    }
    .round-corners{
        border-radius: 24px;
    }

}
