<ion-header >

  <ion-navbar text-center>
    
    <ion-row class="TopBar">
          
      <!-- TOP HEADING -->
      	
      <button ion-button icon-only clear (click)="logout()" end>
          <ion-icon name="side-menu"></ion-icon> 
          <!-- This is currently a blank icon to keep the text in the center -->
        </button>

      <ion-title>
          <span text-color="my-custom-color"> DigiRoof </span>
      </ion-title>	
      <button ion-button icon-only clear (click)="logout()" end>
        <ion-icon name="log-out" class="logoutbtn"></ion-icon>
      </button>
    
 
  </ion-row>

  </ion-navbar>

</ion-header>

<ion-content>

    
        
   
 


  <ion-card class="setcard" padding>
  <ion-row margin>
    <button padding ion-button block round style="margin-top: 10px;" (click)="addPhoto()" class="uploadButton">
      Upload-Image <ion-icon name="images" color="danger" hidden></ion-icon></button>
<!-- IDEALLY FILE NAME IS AUTOSET -->
  </ion-row>


<!-- Extra button for upload -->
    <!-- <button ion-button icon-only color="danger" clear (click)="post()">
        <ion-icon name="send"></ion-icon>
      </button> --> 


  
  <ion-list required>

    <!-- IDEALLY THIS LOCATION LIST SHOULD BE LOADED FROM THE FIREBASE DB -->
    <!-- IDEALLY ATLEAST ONE LOCATION -->
    
    <!-- <ion-item required>
      <ion-label>Locations</ion-label>
      <ion-select required [(ngModel)]="location" cancelText="Nah" okText="Okay!">
        <ion-option value=0>Kennedy Town</ion-option>
        <ion-option value=1>HKU</ion-option>
        <ion-option value=2>Sai Ying Pun</ion-option>
      </ion-select>
    </ion-item> -->

    <ion-card padding>
    <ion-item>
      <ion-label>Location:</ion-label>
      <ion-select required [(ngModel)]="location" cancelText="Nah" okText="Okay!">
        <ion-option *ngFor="let location of all_locations" [value]="location.value"> {{ location.name }} </ion-option>
      </ion-select>  
    </ion-item>
    
    
    <!-- IDEALLY THIS TIME LIST SHOULD HAVE MINIMUM OF CURRENT TIME -->
    <ion-item required>
      <ion-label>Start at:</ion-label>
      <ion-datetime 
      required
      displayFormat="HH:mm  DD/MMM/YYYY" 
      pickerFormat="DD-MMM-YYYY T   HH:mm" 
      minuteValues="00,5,10,15,20,25,30,35,40,45,50,55"
      [(ngModel)]="startDate"
      [min]="today"
      [max]="maxDate"></ion-datetime>
    </ion-item>
    
    <!-- IDEALLY THIS TIME LIST SHOULD HAVE MAX OF CURRENT TIME + 1 2 MONTHS? -->
    <ion-item required>
      <ion-label>End at:</ion-label>
      <ion-datetime 
      required
      displayFormat="HH:mm  DD/MMM/YYYY" 
      pickerFormat="DD-MMM-YYYY T   HH:mm" 
      minuteValues="00,5,10,15,20,25,30,35,40,45,50,55"
      [(ngModel)]="endDate"
      [min]="startDate"
      [max]="maxDate"></ion-datetime>
    </ion-item>
  
</ion-card>

    <!-- HAS TO CHECK IF ATLEAST 1 LOC & TIMES IS ENTERED BEFORE POST -->

  </ion-list>
  <!-- IDEALLY WE SHOW A DEMO OF THE AD ON A CAB -->

  <ion-row margin class="rowStyle" *ngIf="image">
    <ion-card class="round-corners">
      <img [src]="image" class="round-corners">
    </ion-card>
  </ion-row>

</ion-card> 
  
<ion-content padding>
  <button padding ion-button block round style="margin-top: 10px;" (click)="post()" class="uploadButton"> Checkout </button>
  <button padding ion-button block round style="margin-top: 10px;" (click)="go_to_receiver()" class="uploadButton"> Receiver </button>
</ion-content>
</ion-content>